model:
  model_name_or_path: "meta-llama/Llama-3.1-8B-Instruct"
  lora_backbone: False
  lora_language: True
  vision_tower: "dino-vit-base-patch14-10"
  mm_vision_select_layer: -1
  checkpoint_path: null # REQUIRED
  mm_vision_config_path: null # REQUIRED
  mm_vision_checkpoint_path: null # REQUIRED
data:
  root_path: null # REQUIRED
  db_name: "CT-RATE_train_reports"
  channels: 10
  data_mean: -573.8
  data_std: 461.3
  image_tokens: 128
  conv_template: "plain"
train:
  per_device_train_batch_size: 16 # aim for 128 total
  gradient_accumulation_steps: 1
  optim: "adamw_torch"
  learning_rate: 2e-5
  mm_projector_lr: 1e-4
  lora_enable: True
  dataloader_num_workers: 8
  save_steps: 0.1
  save_total_limit: null
  report_to: "tensorboard"
  logging_dir: "tensorboard/runs"
