*

!.gitignore

!dataprep/
!dataprep/**

!eval/
!eval/**

!__init__.py
!statistics.py
!utils.py

dataprep/**/__pycache__
dataprep/**/.ipynb_checkpoints/
dataprep/**/.DS_Store

eval/**/__pycache__
eval/**/.ipynb_checkpoints/
eval/**/.DS_Store
