compute_precision: bf16
train:
  grad_accum_steps: 2
  batch_size_per_gpu: 2
  batch_size_total: 4
  output_dir: .
  seed: 0
  num_workers: 10
  iterations_per_epoch: 10
checkpoints:
  print_iterations: 1
  save_checkpoint_iterations: 2
  save_teacher_iterations: 2
student:
  embed_dim: 512
  n_blocks: 12
  num_heads: 8
  ffn_ratio: 4
  img_size: 112
  patch_size: 14
  ndims: 3
  in_channels: null
  rope_base: 100.0
  rope_shift_coords: null
  rope_jitter_coords: null
  rope_rescale_coords: 2
  drop_path_rate: 0.0
  layerscale_init: 1.0e-05
  norm_layer: "layernorm"
  ffn_layer: "mlp"
  qkv_bias: true
  proj_bias: true
  ffn_bias: true
  num_register_tokens: 4
  resume_from_teacher_chkpt: ''
optim:
  epochs: 100
datasets:
  - name: default_dataset
    weight: 1.0
    index_path: .
    type: ct
    storage: dicom
    bounds: [-1000.0, 1900.0]
    norm:
      mean: -573.8
      std: 461.3